__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

models/distilbert_model/
models/bilstm_model.keras
*.safetensors
*.pt
*.pth
*.h5
*.keras

.streamlit/secrets.toml
.cache/

.DS_Store
Thumbs.db

.vscode/